.ant-radio-group{
    display: flex;
    flex-wrap: wrap;
}
.ant-radio-button-wrapper{
    width: 110px;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;

}